@function get-total($values...) {
    $total: 0;
    @each $val in $values {
        $total: $total + $val;
    }
    @return #{$total}px;
}

.box {
    top: get-total(100, 50, 20);
    right: get-total(100, 50);
}
